div.landing-image img {
  width: 750px;
  position: absolute;
  top: 7%;
  right: 2%;
}
div.hamburger img {
  position: absolute;
  left: 43%;
  top: 5%;
  animation: Load 1s;
}
div.tagline {
  position: absolute;
  top: 17%;
}
div.tagline p {
  text-transform: uppercase;
  font-size: 12rem;
  line-height: 80%;
  font-weight: 900;
  color: #ffffff;
}
div.tagline p span {
  color: #ff8e26;
}
button.explore {
  background: inherit;
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff8e26;
  border: 5px solid #ff8e26;
  padding: 5px 30px;
  font-size: 50px;
  gap: 10px;
  border-radius: 10px;
  width: 500px;
}
button.explore img {
  position: absolute;
  right: 5%;
}

button.explore:hover {
  background: #ff8e26;
  color: #ffffff;
}

div.line-arrow img {
  position: absolute;
  top: 55%;
  left: 34%;
  width: 0%;
  height: auto;
  animation: width-full 2s forwards;
}

@keyframes Load {
  from {
    transform: translate(0, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes width-full {
  from {
    width: 0%;
  }
  to {
    width: 380px;
  }
}
