body {
  overflow-y: hidden;
}
div.logo {
  display: flex;
  justify-content: center;
}
.pizza img {
  position: absolute;
  left: -20%;
  top: 0;
  width: 950px;
}
div.auth {
  height: 100%;
}

div.auth form {
  position: absolute;
  top: 15%;
  right: 10%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  gap: 10px;
}
div.auth form h3 {
  color: #ff8e26;
  font-size: 3rem;
  text-align: center;
  width: 400px;
}
div.credentials {
  display: flex;
  flex-direction: column;
}
input {
  background: transparent;
  padding: 20px;
  border: none;
  border-bottom: 5px solid #ff8e26;
  font-family: "Poppins";
  color: #fff;
  outline: none;
  font-size: 20px;
}
input::placeholder {
  font-size: 25px;
  letter-spacing: 2px;
}
div.password {
  position: relative;
}
div.password input {
  width: 100%;
}
.eye-open {
  position: absolute;
  left: 85%;
  bottom: 35%;
  display: none;
  opacity: 0.5;
  z-index: 100;
  cursor: pointer;
}
.eye-closed {
  position: absolute;
  left: 84%;
  bottom: 28%;
  opacity: 0.5;
  z-index: 100;
  cursor: pointer;
}
button {
  font-family: "Poppins";
  width: 100%;
  padding: 3px;
  font-size: 32px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #ff8e26;
}
.sign-in {
  color: #999999;
}
.sign-in a {
  text-decoration: none;
  color: #ff8e26;
  font-weight: bolder;
}
