* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #212121;
    width: 100vw;
    height: 100vh;
}
div.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 1fr;
}
div.chat_box {
    display: grid;
    grid-template-rows: 1fr 15%;
}
div.search_box form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.search_box form label {
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative;
}
div.search_box form input {
    width: 90%;
    padding: 30px;
    border-radius: 50px;
    background: #2f2f2f;
    border: none;
}
div.search_box form input::placeholder{
    font-size: 25px;
}
div.search_btn {
    position: absolute;
    height: 90%;
    aspect-ratio: 1;
    background: #676767;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 70px;
}
div.search_btn img {
    width: 40px;
}